/* Enter your custom styles here */

.dummyClass {
    /*background-color: #ffdd005e;*/
    /*border-bottom: 6px solid #ffdd00;*/
}


/*.fixMargin {*/


/*    background-color: transparent !important;*/


/*}*/

.labelClass {
    color: #fff !important;
}

.blackCustomTheme .sapMShellBrandingBar {
    background-color: #151518;
}

.blackCustomTheme .sapMITBFilter .sapMITBText {
    color: #fff !important;
}

.blackCustomTheme .sapMObjectNumberText {
    font-size: 40px !important;
}

.blackCustomTheme .sapMObjectNumberUnit {
    font-size: 15px !important;
    text-transform: uppercase !important;
}

.blackCustomTheme header div {
    background-color: #000000 !important;
}

.blackCustomTheme span {
    color: #ffffff !important;
}

.blackCustomTheme {
    color: #ffffff !important;
}

.blackCustomTheme h1 {
    color: #ffffff !important;
}

.blackCustomTheme {
    background-color: #1b1c1f;
}

#contentScoreCards .sapMShell {
    background-color: #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(100%, #000000));
    background-image: -webkit-linear-gradient(top, #000000 0, #000000 50%, #000000 100%);
    background-image: linear-gradient(to bottom, #000000 0, #000000 50%, #000000 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(100%, #000000));
    background-image: -webkit-linear-gradient(top, #000000 0, #000000 50%, #000000 100%);
    background-image: linear-gradient(to bottom, #000000 0, #000000 50%, #000000 100%);
    /*    #2a2a2a*/
    /*#3f3f3f*/
    /*#545454*/
}

.blackCustomTheme .sapMFlexItemAlignAuto {
    width: 100% !important;
}

.divideContentL {
    /*font-size: 23px;*/
}

.divideContentR {
    background-color: #1b1c1f;
    border-bottom: 0px solid #1b1c1f;
    pointer-events: none;
}

.divideContentL1 {
    background-color: #1b1c1f;
    border-bottom: 0px solid #1b1c1f;
    pointer-events: none;
    /*width: 40% !important;*/
    color: #FFF;
}

.blackCustomTheme .sapMOH {
    padding: 1rem;
}

.blackCustomTheme .sapMITBContent {
    background-color: #2a2a2a;
}

.blackCustomTheme .sapMITBSelected .sapMITBFilterDefault {
    background: #fff;
    color: #000 !important;
}

.blackCustomTheme .sapMITBFilterIcon {
    background: #2a2a2a;
    border: 1px solid #ffffff;
}

.blackCustomTheme .sapMPIBarRemaining {
    background-color: #2a2a2a;
}

.blackCustomTheme .sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #fff;
}

.customClassTile {
    width: 21em;
    height: 14.5em;
    padding-right: 15px;
    padding-bottom: 15px;
}

.blackCustomTheme .sapMITH {
    box-shadow: inset 0 -0.25rem 0 -0.125rem #000;
}

.blackCustomTheme .sapMITBContainerContent {
    border-bottom: 1px solid #000000;
}

.blackCustomTheme .sapMBarContainer .sapMBarPH {
    box-shadow: inset 0 -0.25rem 0 -0.125rem #2a2a2a;
}

.panelTile {
    width: 100%;
    height: 99% !important;
}

.hboxClass {
    width: 100%;
    height: 100% !important;
}

.vboxClass {
    width: 70%;
}

.vboxClassInfo {
    width: 100%;
}

.vboxClassLabel {
    width: 30%;
    font-size: 40px;
    text-shadow: 0 0.0625rem 0 #ffffff;
    color: #fff !important;
    text-align: end;
}

.vboxClassLabelAloneTop {
    width: 80% !important;
    /*margin-top: 0%;*/
    font-size: 55px;
    text-shadow: 0 0.0625rem 0 #ffffff;
    color: #fff;
}

.vboxClassLabelAloneBottom {
    width: 80% !important;
    /*margin-top: 0%;*/
    font-size: 20px;
    text-shadow: 0 0.0625rem 0 #ffffff;
    color: #fff;
}

.labelMider {
    font-size: 15px !important;
    margin-left: 16PX;
}

.containerGauge {
    width: 100%;
    height: 100%;
    margin-left: -28px;
}

.blackCustomTheme .sapMRIIconSel {
    color: #ffc32e !important;
    /*background-color: #ffc32e !important;*/
}


/* width */

::-webkit-scrollbar {
    width: 10px !important;
}


/* Track */

::-webkit-scrollbar-track {
    background: #837f7f !important
    /*border-radius: 5px !important;*/
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #1b1c1f6b !important
    /*border-radius: 10px !important;*/
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #2a2a2a;
}